/* CSS Document */

#cardEntry {
	text-align: left;
	float: left;
	width: 320px;
	height: 480px;
	background-color: darkorange;
	border: 2px solid black;
}
#cardEntry h1 {
	padding-left: 15px;
	font-size: 26px;
}
#cardEntry img {
	padding-left: 20px;
	width: 75px;
	height: 75px;
}
form {
	
	padding-left: 30px;
}

h3{
	font-size: 16px;
}
#sbutton {
	margin-left: 75px;
}
#myCanvas{
	/*visibility: hidden;*/
	border: 2px solid black;
}